.main {
  display: flex;
  height: 100vh;
  flex-flow: column;
  overflow: hidden;
}

.chat_header {
  height: 50px;
}

.chat_messages {
  min-height: 83vh;
  display: flex;
  flex-flow: column;
  padding: 15px 30px 15px 30px;
  background-color: lightgray;
  overflow-y: auto;
}

.chat_input {
  width: 100%;
}

.input {
  width: 90%;
  margin: 0;
  -webkit-appearance: textfield !important;
  -moz-appearance:textfield !important;
}

.input:focus {
  outline: none !important;
  border:1px solid #0088ff;
}


